* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

oi, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("https://wallpapercave.com/wp/wp5393108.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}