* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ugabuga;
    src: url("../assets/fonts/Ubuntu-Regular.ttf")
    format(TrueType);
    font-size: 18px;
    font-weight:900;
}

oi, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("https://wallpapercave.com/wp/wp5393108.jpg");
    background-repeat:no-repeat;
    background-size: cover;

    font-family: ugabuga;
}